<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
	    <dict>
		<key>CFBundleTypeRole</key>
		<string>MDImporter</string>
		<key>LSItemContentTypes</key>
		<array>
		    <string>public.c-source</string>
		    <string>public.c-header</string>
		    <string>public.c-plus-plus-source</string>
		    <string>public.c-plus-plus-header</string>
		    <string>com.sun.java-source</string>
		    <string>com.netscape.javascript-source</string>
		    <string>public.perl-script</string>
		    <string>public.python-script</string>
		    <string>public.ruby-script</string>
		    <string>public.php-script</string>
		    <string>public.shell-script</string>
		    <string>public.objective-c-source</string>
		    <string>public.csh-script</string>
		    <string>public.assembly-source</string>
		    <string>public.csharp-source</string>
		    <string>public.lua-script</string>
		    <string>public.pascal-source</string>
		    <string>public.scheme-source</string>
		    <string>public.erlang-source</string>
		    <string>public.ocaml-source</string>
		    <string>public.sml-source</string>
		    <string>public.tcl-script</string>
		    <string>public.verilog-source</string>
		    <string>public.vhdl-source</string>
		    <string>public.eiffel-source</string>
		    <string>public.lisp-source</string>
		    <string>public.fortran-source</string>

		    <!--ha ha ha :(-->
		    <string>com.apple.dashcode.javascript</string>
		    <string>public.public.fortran-90-source</string>
		    <string>public.public.fortran-95-source</string>
		    <string>public.fortran-95-source</string>
		    <string>com.apple.xcode.fortran-source</string>
		    <string>com.apple.xcode.pascal-source</string>

		    <!-- Because MacVim wreck my balls -->
		    <string>org.vim.cs-file</string>
		    <string>org.vim.erl-file</string>
		    <string>org.vim.lisp-file</string>
		    <string>org.vim.tcl-file</string>
		</array>
	    </dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.mdimporter.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
	    <key>23DD8A11-8E7A-43F2-836E-0471A04F080C</key>
	    <string>MetadataImporterPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
	    <key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
	    <array>
		<string>23DD8A11-8E7A-43F2-836E-0471A04F080C</string>
	    </array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>UTImportedTypeDeclarations</key>
	<array>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>C# source</string>
		<key>UTTypeIdentifier</key>
		<string>public.csharp-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>cs</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>Pascal source</string>
		<key>UTTypeIdentifier</key>
		<string>public.pascal-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>p</string>
			<string>pas</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>Scheme source</string>
		<key>UTTypeIdentifier</key>
		<string>public.scheme-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>sch</string>
			<string>scheme</string>
			<string>scm</string>
			<string>sm</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>Erlang source</string>
		<key>UTTypeIdentifier</key>
		<string>public.erlang-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>erl</string>
			<string>hrl</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>OCaml source</string>
		<key>UTTypeIdentifier</key>
		<string>public.ocaml-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>ml</string>
			<string>mli</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>SML source</string>
		<key>UTTypeIdentifier</key>
		<string>public.sml-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>sml</string>
			<string>sig</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>Verilog source</string>
		<key>UTTypeIdentifier</key>
		<string>public.verilog-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>v</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>VHDL source</string>
		<key>UTTypeIdentifier</key>
		<string>public.vhdl-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>vhdl</string>
			<string>vhd</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>Eiffel source</string>
		<key>UTTypeIdentifier</key>
		<string>public.eiffel-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>e</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>Lisp source</string>
		<key>UTTypeIdentifier</key>
		<string>public.lisp-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>cl</string>
			<string>clisp</string>
			<string>el</string>
			<string>l</string>
			<string>lisp</string>
			<string>lsp</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.source-code</string>
		</array>
		<key>UTTypeDescription</key>
		<string>Fortran source</string>
		<key>UTTypeIdentifier</key>
		<string>public.fortran-source</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>f</string>
			<string>for</string>
			<string>ftn</string>
			<string>f77</string>
			<string>f90</string>
			<string>f95</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.script</string>
		</array>
		<key>UTTypeDescription</key>
		<string>LUA source</string>
		<key>UTTypeIdentifier</key>
		<string>public.lua-script</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>lua</string>
		    </array>
		</dict>
	    </dict>
	    <dict>
		<key>UTTypeConformsTo</key>
		<array>
		    <string>public.script</string>
		</array>
		<key>UTTypeDescription</key>
		<string>Tcl source</string>
		<key>UTTypeIdentifier</key>
		<string>public.tcl-script</string>
		<key>UTTypeTagSpecification</key>
		<dict>
		    <key>public.filename-extension</key>
		    <array>
			<string>tcl</string>
			<string>tk</string>
			<string>wish</string>
			<string>itcl</string>
		    </array>
		</dict>
	    </dict>
	</array>
    </dict>
</plist>
